@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary: #1b1b1b;
  --bg: #f1f1f1;
}
body {
  background: var(--bg);
  color: var(--primary);
  font-family: "Work Sans", serif;
}
a,
li,
p {
  color: var(--primary);
  text-decoration: none;
}
.d-flex {
  display: flex;
}
.col-md-5 {
  flex: 0 0 20%;
}
.col-md-7 {
  flex: 0 0 80%;
}
